
<html>

<head>
  <title>It's going tibia K.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" />
  <link rel="stylesheet" type='text/css' href="addStuffs.css" />
</head>

<body>
  <a href="/logout">Logout?</a>
  <form id="newItem" action="/items" method="POST">
    <div id="inputs">
      <input name="itemSerial" type="number" placeholder="code"required/> <!-- item number /makes the field required-->
      <input name="itemName" type="text" placeholder="name"required/>
      <input name="itemQuantity" type="number" placeholder="amount" required/>
      <div><input name="itemReusable" id="reusable" type="checkbox" />
      <label for="reusable">Reusable?</label></div>
      <button type="submit">Submit</button>
    </div>
  </form>
  <!-- will display to the public based on whether or not it is a child change -->
  <div id="container">
    <table id="itemsReusable">
      <caption>Reusable</caption>
      <tr class="item reusable"><td>Code</td><td>Name</td><td>Quantity</td><td></td></tr>
      <% for (var i = 0; i < items.length; i++)  {%>
        <% if (items[i].itemReusable) {%>
          <tr class="item disposable" id='<%=items[i].itemSerial %>'>
            <td><%=items[i].itemSerial %></td>
            <td><%=items[i].itemName %></td>
            <td><%=items[i].itemQuantity %></td>
            <td><button class="delbutton">Delete</button></td>
          </tr>
        <% } %>
      <% } %>
    </table>
    <table id="itemsOneTime">
      <caption>Disposable</caption>
      <tr class="item disposable"><td>Code</td><td>Name</td><td>Quantity</td><td></td></tr>
      <% for (var i = 0; i < items.length; i++)  {%>
        <% if (items[i].itemReusable == null) {%>
          <tr class="item reusable" id='<%=items[i].itemSerial %>'>
            <td><%=items[i].itemSerial %></td>
            <td><%=items[i].itemName %></td>
            <td><%=items[i].itemQuantity %></td>
            <td><button class="delbutton" >Delete</button></td>
          </tr>
        <% } %>
      <% } %>
    </table>
  </div>

</body>


<script>
var dels = document.getElementsByClassName('delbutton')

for (let i = 0; i < dels.length; i++) {
  dels[i].addEventListener('click', function() {
    let itemSerial = dels[i].parentElement.parentElement.getAttribute('id')
    let toDel = document.getElementById(itemSerial)
      toDel.parentElement.removeChild(toDel)
      fetch('/items', {
        method: 'delete',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'itemSerial': itemSerial
        })
      })
      .then(function(res) {
        if (res.ok) return res.json()
      }).
      then(function(data) {
        console.log(data)
      })
  })
}
</script>

</html>
